body {
	/*BACKGROUND SETTINGS*/
	background-image: url(http://41.media.tumblr.com/327ab917157c32da25938dc941dac9b8/tumblr_nln9zo4Ojh1saxfomo1_1280.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	/*FONT SETTINGS*/
	font-family: lekton, sans-serif;
	color: darkblue;
	font-size: 25px;
	line-height: 55px;
	font-weight: bold;
}
a {
	color: #0027ff;
	font-weight: bold;
}
p{
	text-shadow: 2px 2px #19dfc6;
	line-height: 25px;
	width: 950px;
}