body {
margin: 50px;
}


h1 {
	font-family: sans-serif;
	line-height: 0;
}

h2 {
	font-family: sans-serif;
	padding: 0px;
	margin-bottom: -10px;
}

h3 {
	font-family: sans-serif;
	color: darkgrey;
}

p {
	font-family: sans-serif;
	padding: 10px;
}

li{
	font-family: sans-serif;
	padding: 5px;
}

.source {
	color: #888888;
	font-size: 12px;
	
}

a:link {
	color: #2a2a2a;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: #000066;
	color: white;
	background-color: #0000ff;
}
/*###MEDIA QUERIES###

Note: Pending implementation. I'm going to do this later.

@media only screen and (max-width: 800px) {

}

@media only screen and (max-width: 375px) {

	h1{text-align: center;}
	
}

*/
