body {
	margin-top: 85px;
	text-align: center;
}

h1, h2, h3, h4 {
	font-family: sans-serif;
	line-height: 5;
}

h1 {
	color: #000000;
}

h2 {
	color: #a9a9a9;
}

h3 {
	color: #d3d3d3;
}

h4 {
	color: #dddddd;
}

p {
	font-family: sans-serif;
	padding: 10px;
}

a:link {
	color: #2a2a2a;
	text-decoration: underline;
	font-weight: bold;
}
h1, h2, h3, h4,:hover {
	background-color: #0000ff;
}