body {
	margin-top: 85px;
	text-align: center;
}

h1,
h2,
h3,
h4 {
	font-family: sans-serif;
	line-height: 5;
}

h1 {
	color: #000000;
}

h2 {
	color: #a9a9a9;
}

h3 {
	color: #d3d3d3;
}

#mainText {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

p {
	font-family: abel;
	padding: 10px;
	padding: 100;
}

a:link {
	color: #2a2a2a;
	text-decoration: underline;
	font-weight: bold;
}
/*###MEDIA QUERIES###*/

@media only screen and (max-width: 700px) {
	* {}
	@media only screen and (max-width: 500px) {
		img {
			width: 95%;
		}
	}
	@media only screen and (max-width: 400px) {
		img {
			width: 90%;
		}
		#mainText {
			width: 90%;
		}
	}