body {
	/*BACKGROUND SETTINGS*/
	background-image: url(http://41.media.tumblr.com/4b88952f34acdb5a861950eb929f3b4a/tumblr_nkldkkYcgR1thdnd3o1_500.jpg);
	background-size: cover;
	background-position: center;
	/*background-color: #646464;*/
	/*FONT SETTINGS*/
	font-family: lekton, sans-serif;
	color: #c30f0f;
	line-height: 20px;
	font-weight: bold;
}
a {
	color: #c30f0f;
	/*font-weight: bold;*/
}
.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}
img {
	width: 75px;
	height: 75px;
}

table, th, td {
	border: 2px solid #262626;
	padding: 4px;
	border-collapse: collapse;
}
tr {
	border-color: #ffffff;
}
td {
	padding: 7px;
}
input {
	width: 90%;
}
.special {
	width: 25%;
	height: 30px;
}
.all {
	background-color: rgba(255, 255, 255, 0.69);
	padding: 10px;
}