body {
	/*BACKGROUND SETTINGS*/
	background-image: url(http://www.manicaarchitecture.com/paperclip/projects/6/39/medium/Upper-Bowl_Hockey-People.jpg);
	background-size: cover;
	/*FONT SETTINGS*/
	font-family: lekton, sans-serif;
	color: rgba(3, 237, 183, 0.95);
	line-height: 20px;
	font-weight: bold;
}
a {
	color: #0027ff;
	font-weight: bold;
}
.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}
img {
	width: 75px;
	height: 75px;
}

table, th, td {
	border: 2px solid #262626;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.74);
}
tr {
	border-color: #ffffff;
}
td {
	padding: px;
}