body {
	/*BACKGROUND SETTINGS*/
	background-image: url(http://upload.wikimedia.org/wikipedia/commons/4/4c/General_Motors_Place.jpg);
	background-size: cover;
	/*FONT SETTINGS*/
	font-family: lekton, sans-serif;
	color: rgba(3, 204, 237, 0.95);
	line-height: 20px;
	font-weight: bold;
	background-color: black;
}
a {
	color: #0027ff;
	font-weight: bold;
}
.alert {
	color: red;
	font-size: 20px;
	font-weight: bold;
}
img {
	width: 75px;
	height: 75px;
}

table, th, td {
	border: 2px solid #262626;
	padding: 4px;
	background-color: rgba(0, 0, 0, 0.74);
}
p {
	background-color: rgba(0, 0, 0, 0.74);
}

tr {
	border-color: #ffffff;
}
td {
	padding: px;
}
select {
	width: 250px;
	font-size: 17px;
	border-radius: 20px;
	text-align: center;
}
 input {
	width: 250px;
	border-radius: 20px;
	font-size: 17px;
	text-align: center;
}
.big-butt {
	width: 517px;
}