body {
margin: 50px;
}


h1 {
	font-family: sans-serif;
	line-height: 0;
}

h2 {
	font-family: sans-serif;
	padding: 0px;
	margin-bottom: -10px;
}

h3 {
	font-family: sans-serif;
	font-style: light;
	color: darkgrey;
}

p {
	font-family: sans-serif;
	padding: 10px;
}

li{
	font-family: sans-serif;
	padding: 5px;
}

a:link, a:visited, a:active {
	color: #333333;
	text-decoration: underline;
}
a:hover {
	color: #000066;
	text-decoration: line-through;
	color: white;
	background-color: #0000ff;
}