body {
	padding: 20px;
	margin: 10px;;
	font-family: Arial, Verdana;
	font-size: 1.0em;
	width: 100%;
	/* http://lea.verou.me/css3patterns/ */
	background:
	linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
	linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
	linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
	background-color:#e1ebbd;
	background-size: 128px 128px;
}
form {
		position: relative;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
		background: rgba(255,255,255,0.7);
}
input, select, textarea {
		font-size: 1.4em;
		border: 1px solid #999999;
		padding: 5px;
		border-radius: 0.5em;
		outline: none;
		margin: 5px;
}

p {


}
/*
	<style type="text/css">
	body {
		padding: 0;
		margin: 0;
		font-family: Arial, Verdana;
		font-size: 1.0em;
		width: 100%;
		background:
		linear-gradient(45deg, #92baac 45px, transparent 45px)64px 64px,
		linear-gradient(45deg, #92baac 45px, transparent 45px,transparent 91px, #e1ebbd 91px, #e1ebbd 135px, transparent 135px),
		linear-gradient(-45deg, #92baac 23px, transparent 23px, transparent 68px,#92baac 68px,#92baac 113px,transparent 113px,transparent 158px,#92baac 158px);
		background-color:#e1ebbd;
		background-size: 128px 128px;
	}
	form {
			position: relative;
			padding: 20px;
		    margin-left: auto;
			margin-right: auto;
			width: 50%;
			background: rgba(255,255,255,0.7);
	}
	input, select, textarea {
			font-size: 1.4em;
			border: 1px solid #999999;
			padding: 5px;
			border-radius: 0.5em;
			outline: none;
			margin: 5px;
	}
	</style>
	*/