body {
	padding: 20px;
	margin: 30px;
	font-family: sans-serif;
	font-size: 1.0em;
    background-image:url(http://41.media.tumblr.com/c9d73329353f2cbe761f6273868b4437/tumblr_nll5lyGZCg1sicb5ko1_1280.jpg);
    background-size: cover;
}
h2 {
color: white;
    text-transform: uppercase;
}
form {
		position: relative;
		padding: 20px;
		margin-left: auto;
		margin-right: auto;
		width: 85%;
		background: rgba(255,255,255,0.7);
}
input, select, textarea {
		font-size: 1.4em;
		border: 1px solid #999999;
		padding: 5px;
		border-radius: 0.5em;
		outline: none;
		margin: 5px;
}

p {


}